alignments/
assemblies/
predictions/
sequences/
structures/
windows/
DMS_Tranception/
DMS_MSA/
analysis_notebooks/features.ipynb
preprocessing/__pycache__/
data/msas/subsampled/
data/msas/subsampled_original/
data/msas/unused/
old_requirements/
fresh/
rosetta_predictions_old/
