alignments/
assemblies/
predictions/
sequences/
structures/
windows/
DMS_Tranception/
DMS_MSA/
preprocessing/__pycache__/
data/msas/subsampled/
data/msas/subsampled_original/
data/msas/unused/
data/hit_*.csv
data/miss_*.csv
inference_scripts/msa_transformer_preds.csv
*/neff.csv
data/fireprot_mapped_preds.csv.lock
data/s669_mapped_preds.csv.lock
status.txt
diff.txt
*pycache*
