git+https://github.com/facebookresearch/esm.git@2b369911bb5b4b0dda914521b9475cad1656b2ac
pytorch-triton
sequence-models
torch
torch-geometric
torch-scatter
torch-spline-conv
torch-sparse
torch-cluster
