async-timeout
attrs
backcall
billiard
biopython
certifi
charset-normalizer
click
cmake
contourpy
cycler
debugpy
decorator
dill
executing
fair-esm
fastjsonschema
filelock
fonttools
frozenlist
fsspec
googledrivedownloader
idna
importlib-resources
Jinja2
joblib
kiwisolver
lit
llvmlite
MarkupSafe
matplotlib
mmtf-python
mpmath
msgpack
multidict
nest-asyncio
networkx
numba
numpy
#nvidia-cublas-cu12
#nvidia-cuda-cupti-cu12
#nvidia-cuda-nvrtc-cu12
#nvidia-cuda-runtime-cu12
#nvidia-cudnn-cu12
#nvidia-cufft-cu12
#nvidia-curand-cu12
#nvidia-cusolver-cu12
#nvidia-cusparse-cu12
#nvidia-nccl-cu12
#nvidia-nvtx-cu12
packaging
pandas
parso
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pyarrow
Pygments
pyparsing
python-dateutil
pytorch-triton
pytz
PyYAML
pyzmq
quantiprot
regex
requests
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-learn
scipy
sequence-models
six
sympy
threadpoolctl
tokenizers
toml
torch
torch-geometric
tornado
tqdm
traitlets
types-PyYAML
types-toml
typing_extensions
tzdata
urllib3
wcwidth
xxhash
xyzservices
yacs
yarl
zipp

